<html>
  <head>
    {% include 'bootstrap.html'%}
  </head>
  <body>
     {%include 'banner.html'%}
<h4>Contact Us</h4>
<form action="/message" method="post">
  <div >
  <label> Full Name </label><br>  
  <input type="text"  name="full_name" placeholder="Jury Alsultan">
  </div>
   <div >
    <label> E-mail </label><br>  
    <input type="text" name="email" placeholder="JuryAlsultan@xyz.com">
    </div>
   <div >
    <label> Message </label><br> 
    <textarea  name="message" placeholder="Salam I'm Jury Alsultan...">
   </textarea>
    </div>
  <input type="submit">
</form>
  </body>   
</html>